In [2]:
# Do not make any changes in this cell
# Simply execute it and move on

import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
import json
ans = [0]*8

In [3]:
# Simply execute this cell and move on

#Import the dataset and define the feature as well as the target datasets / columns  
dataset = pd.read_csv('heart.csv')  
#We drop the 'trestbps','chol','thalach','oldpeak' as they have numerical values  
dataset=dataset.drop('trestbps',axis=1) 
dataset=dataset.drop('chol',axis=1) 
dataset=dataset.drop('thalach',axis=1) 
dataset=dataset.drop('oldpeak',axis=1) 
dataset

     age  sex  cp  fbs  restecg  exang  slope  ca  thal  target
0     63    1   3    1        0      0      0   0     1       1
1     37    1   2    0        1      0      0   0     2       1
2     41    0   1    0        0      0      2   0     2       1
3     56    1   1    0        1      0      2   0     2       1
4     57    0   0    0        1      1      2   0     2       1
..   ...  ...  ..  ...      ...    ...    ...  ..   ...     ...
298   57    0   0    0        1      1      1   0     3       0
299   45    1   3    0        1      0      1   0     3       0
300   68    1   0    1        1      0      1   2     3       0
301   57    1   0    0        1      1      1   1     3       0
302   57    0   1    0        0      0      1   1     2       0

[303 rows x 10 columns]

In [4]:
#These are the meanings of above features in the dataset
'''
age
sex
chest pain type (4 values)
resting blood pressure
serum cholestoral in mg/dl
fasting blood sugar > 120 mg/dl
resting electrocardiographic results (values 0,1,2)
maximum heart rate achieved
exercise induced angina
oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
'''

'\nage\nsex\nchest pain type (4 values)\nresting blood pressure\nserum cholestoral in mg/dl\nfasting blood sugar > 120 mg/dl\nresting electrocardiographic results (values 0,1,2)\nmaximum heart rate achieved\nexercise induced angina\noldpeak = ST depression induced by exercise relative to rest\nthe slope of the peak exercise ST segment\nnumber of major vessels (0-3) colored by flourosopy\nthal: 3 = normal; 6 = fixed defect; 7 = reversable defect\n'

In [5]:
# Divide the age feature  into groups 
# Group the data based on age (<30 , range(30,40) , range(40,50) ,  range(50,60) , range(60,70) , >=70 )
#              = [ -1 ,     0        ,     1        ,         2     ,          3   ,   4   ]

# Write code here
for a in range(len(dataset)):
    if dataset.iloc[a]['age'] < 30:
        dataset.iloc[a]['age'] = -1
    elif dataset.iloc[a]['age'] in range(30,40):
        dataset.iloc[a]['age'] = 0
    elif dataset.iloc[a]['age'] in range(40,50):
        dataset.iloc[a]['age'] = 1
    elif dataset.iloc[a]['age'] in range(50,60):
        dataset.iloc[a]['age'] = 2
    elif dataset.iloc[a]['age'] in range(60,70):
        dataset.iloc[a]['age'] = 3
    elif dataset.iloc[a]['age'] >= 70:
        dataset.iloc[a]['age'] = 4      
dataset.head()

   age  sex  cp  fbs  restecg  exang  slope  ca  thal  target
0    3    1   3    1        0      0      0   0     1       1
1    0    1   2    0        1      0      0   0     2       1
2    1    0   1    0        0      0      2   0     2       1
3    2    1   1    0        1      0      2   0     2       1
4    2    0   0    0        1      1      2   0     2       1

In [6]:
# QUESTION -1 :- (1mark)
#       Bayes theorm 
#       Find the following from the above data set 
#           - Find P("cp"=1,"thal"=2,"slope"=2 / Y=1) i.e.find the probability of ( "cp"=1 and "thal"=2 and "slope"=2 ) given that "target"=1
#       Assign your answer to ans[-1]

In [7]:
#Write code here
def P_xy(feat, val, y):
    return len(dataset[(dataset[feat]==val) & (dataset['target']==y)])/len(dataset[dataset['target']==y])
P = P_xy('cp',1,1)*P_xy('thal',2,1)*P_xy('slope',2,1)
print(P)

0.12695773158583074

In [8]:
#Write your answer here
ans[-1]= P

In [9]:
# QUESTION -2 :- (1mark)
#       Find the prior distribution on the whole above data set , i.e. P(Y=1) and P(Y=0)
#       Enter value of P(Y=1) in ans[0]

In [10]:
# Write your code here
#P(Y)
#Prior distribution
P_Y1 = len(dataset[dataset['target']==1])/len(dataset)
P_Y0 = len(dataset[dataset['target']==0])/len(dataset)

In [11]:
# Enter your answer here
ans[0]= P_Y1

In [12]:
# QUESTION -3:- (3marks)
#         Find the class conditional distribution on the above data set i.e. find P(X/Y)
#         Note: If class conditional probability = 0 assign 0.00000000000000001 (a low value) 
#         Find the class conditional probability of the feature "slope"= 0,1,2 when "target"=0 i.e. 
# P(X(slope)=i/Y=0) where i=0,1,2
#         Assign the answer to ans[1] in form of a list as [P(X(slope)=0/Y=0) , P(X(slope)=1/Y=0) ,
# P(X(slope)=2/Y=0)]

In [13]:
#Write your code below
#Class conditional distribution
#P(x/y)
P_XY = []
for i in range(0,3):
    P_XY.append(P_xy('slope',i,0))

In [14]:
# Assign your answer here
ans[1]= P_XY

In [15]:
# QUESTION - 4:- (3marks)
#         Find the posterior distribution of the above dataset
#         i.e. Find P(Y/X) 
#         For X={"age":-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}
#             - Find the label value (1 or 0) and also the respective confidence also the value of 
#               k in {  P(Y/X)=k*P(X1/Y)*P(X2/Y)*P(X3/Y)*P(X4/Y)......*P(Xn/Y)*P(Y) for n features   }
#         eg: if the answer is Y=0 with confidence =0.89 and k= 2100.8
#             your answer should be ans[2]=[0,0.89,2100.8]

In [16]:
#Write code here
# posterior distribution
#P(y/x)

X={'age':-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}
k = 1
for key in X:
    k *= len(dataset)/len(dataset[dataset[key] == X[key]])
maxm = 0
yPred = -1
for i in range(0,2):
    p = 1
    for key in X:
        p *= P_xy(key,X[key],i)
    if p>maxm:
        maxm = p
        yPred = i

In [17]:
#Write your answers here
ans[2]= [yPred, k*maxm, k]

In [18]:
# Splitting the data for fitting a library naive bayes model from sklearn
# Use train_test_split to split the data

# Split the data into train and test (train-90% and test-10%)
# Strictly use (randon_state = 42) in train_test_split ,so that your answer can be evaluated

# Write your code here 
from sklearn.model_selection import train_test_split
X = dataset[['age','sex','cp','fbs','restecg','exang','slope','ca','thal']]
y = dataset[['target']]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.1, random_state = 42)

In [19]:
# QUESTION - 5 :- (2marks)
#         Import the  GaussianNB  model from sklearn and find the no of wrong predictions on the testing set
# i.e. train and fit the model on the training set and predict the output if the heart disease exists or not 
#         Compare the predicted and the testing labels and enter the no.of wrongly predicted lables in ans[3]

In [20]:
#Importing the Gaussian naive bayes classifier model from sklearn

from sklearn.naive_bayes import GaussianNB

#Write your code below
clf = GaussianNB()
clf.fit(X_train,y_train['target'])
y_pred = clf.predict(X_test)
count = 0
for t in range(len(y_test)):
    if (y_test.iloc[t]['target'] != y_pred[t]):
        count+=1

In [21]:
#Write your answers here
ans[3]=count

In [24]:
import json
ans = [str(item) for item in ans]

filename = "riya21april@gmail.com_Maitri_Das_NaiveBayes"

# Eg if your name is Saurav Joshi and email id is sauravjoshi123@gmail.com, filename becomes
# filename = sauravjoshi123@gmail.com_Saurav_Joshi_NaiveBayes

## Do not change anything below!!
- Make sure you have changed the above variable "filename" with the correct value. Do not change anything below!!

In [25]:
from importlib import import_module
import os
from pprint import pprint

findScore = import_module('findScore')
response = findScore.main(ans)
response['details'] = filename
with open(f'evaluation_{filename}.json', 'w') as outfile:
    json.dump(response, outfile)
pprint(response)

{'Comments': 'Please make sure the Python script you are submitting is not '
             'having errors. Try running before submitting',
 'Message': 'Successfully submitted! Thanks for taking the exercise',
 'details': 'riya21april@gmail.com_Maitri_Das_NaiveBayes',
 'status': 'Success'}